html {
  width: -moz-available;          
  width: -webkit-fill-available;  
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
padding-top: 0;
margin: 0 auto;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
}

.video {
width: 100%;
height: 100%;
object-fit: contain;
background-repeat: no-repeat;
background-position: center center;
display: flex;
justify-content: center;

}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  min-width: fit-content;
  font-size: 10px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.container .btn:hover {
  background-color: rgb(163, 105, 238);
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
list-style-type: none;
overflow: hidden;
background-color: #333;
position: fixed;
bottom: 0;
width: 100%;
display: flex;
justify-content: center;
}

/* Style the links inside the navigation bar */
.navbar a {
display: block;
color: #f2f2f2;
text-align: center;
padding: 1px 14px;
font-family: 'Great Vibes', cursive;
text-decoration: none;
font-size: 22px;
}

/* Change the color of links on hover */
.navbar a:hover {
background-color: rgb(163, 105, 238);
color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
background-color: #333;
color: rgb(255, 255, 255);
}

.iframe {
max-width: 300px;
max-height: 400px;
position: absolute;
display: flex;
top: 30%;
}