.container {
margin: auto;
border: none;
width: 100%;
min-width:1000px;
height: auto;
display: flex;
justify-content: center;
}
.card_img {
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width:100%; /*Takes 90% width from WebContainer*/
    margin: auto;    
  }

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Great Vibes', cursive;
  text-decoration: none;
  font-size: 21px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: rgb(163, 105, 238);
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #333;
  color: rgb(255, 255, 255);
}